#control {
    display: inline-block;
    border-width: 0px;
    text-align: left;
    vertical-align: left;
}

#control_panel
{
	background: #223344;
	padding: 10px;
	width: 200px; 
	top: 150px;
	position: absolute;
	border-bottom-right-radius:0.5em;
	z-index: 1;
	font-family: Times New Roman;
}
.slide_button_control:hover
{
	/*left:237px;*/
}
 
.slide_button_control
{
	background: url(../images/ctrl.png);
	display: block;
	height: 75px;
	text-indent: -9999px;
	width: 25px;
 
	position: absolute;
	right: -20px;
	top: 0px;
}
 
.zamknij_control
{
	background-position: -25px 0px;
}
 
a:focus { 
	outline:none;
}