#info {
    display: inline-block;
    border-width: 0px;
    text-align: left;
    vertical-align: left;
    
}

#info_panel
{
	background: #223344;
	padding: 10px;
	width: 200px; 
	top: 75px;
	position: absolute;
	border-bottom-right-radius:0.5em;
	z-index: 2;
}

.mut_div {
	display: block; 
	max-width: 166.906px;
}
.slide_button_info
{
	background: url(../images/info.png);
	display: block;
	height: 75px;
	text-indent: -9999px;
	width: 25px;
 
	position: absolute;
	right: -20px;
	top: 0px;
}
.slide_button_info:hover
{
	/*left:237px;*/
}
 
.zamknij_info
{
	background-position: -25px 0px;
}
 
a:focus { 
	outline:none;
}