.igorny {vertical-align: super}
.idolny {vertical-align: sub}
 
body{
	margin:0px;
	background-color: #223344;
}
.gradient{
	background: -webkit-linear-gradient(rgba(20,31,41,1), rgba(20,31,41,0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(20,31,41,1), rgba(20,31,41,0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(20,31,41,1), rgba(20,31,41,0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(20,31,41,1), rgba(20,31,41,0.3)); /* Standard syntax (must be last) */
}
.page-header {
    background-color: #223344;
    text-align: center;
}

#footer {
	position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
	color:#888; 
	text-align: center;
	display: inline-block;
}

#footer a:link, #footer a:visited {
	color:#888; 
	text-decoration:none;
	}
#footer a:hover {
	color:#888; 
	text-decoration:underline;
	}

#logo {
	width: 800px;
	margin-top:15%;	
	margin-right: auto;
	margin-left:auto;
	
	display: block;
}

#logo_mini{
	width: 300px;
	position: absolute;
	right: 3%;
	display: none;
	margin-top:20px;
}

#menu {
    display: inline-block;
    border-width: 0px;
    text-align: left;
    vertical-align: left;
}

#webgl_frame {
	width: 100%;
	margin: 0;
	padding: 0;
    display: inline-block;
    background-color: #F0F0F0;
}

#shell_desc {
	color:white;
	position: absolute;
	background-color: #2B4970;
	border: solid;
	border-width: 1px;
	padding:5px;
	border-radius: 10px;
	font-family: Times New Roman;
	font-style: bold;
	display: none;
}

#help{

	position: absolute;
	left: 3%;

}

#debug_legend{
	position: absolute;
	right: 60px;
	bottom: 20px;
	color:#e0e0e0;
	position: absolute;
	background-color: #2B4970;
	border: solid;
	border-width: 1px;
	padding:5px;
	border-radius: 10px;
	display: none;
}

#p_debug {
	font-size: 150%;
	padding: 0;
	margin: 0 0 0 0;
	background-color: white;
}

form {
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #e0e0e0;
    border-radius: 0.7em;
	color:#e0e0e0;
}

select{
	padding: 2px;
	text-align: right;
    border: 1px solid #999;
	border-radius: 0.5em;
}


label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

input, textarea {
	padding: 2px;
	text-align: right;
    width: 100%;
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
	border-radius: 0.5em;
	box-shadow: none;
}

input[type="number"]{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD!important;
}

input[type="number"]:focus{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1)!important;
}

input[type="range"] {
	margin: 2px;
}

.button {
	padding: 100px;
    padding-left: 10px; 
}
button {
	width: 130px;
    margin-left: 1.6em;
	border-radius: 0.6em;
	background: #223344;
	color: #e0e0e0;
}

#debug_button {
	visibility : hidden;
}

#cp_button{
	display: none;
	position: absolute;
	bottom:20px;
	left:20px;
}

#info input[type="number"]{
	width: 80px;
	color: #e0e0e0;
	background-color : #223344;
	border: none!important;
	border-style: none!important;
	-moz-appearance:textfield;
}

#info input[type="number"]::-webkit-outer-spin-button,
#info input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.mut_value{
		display: none;
	}
}

input, textarea, keygen, select, button{
	font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
    font-family: Arial;
}

label {
	white-space: nowrap;
	font-family: Times New Roman;
	font-style: bold;
}

#generation{
	display: none;
	text-align: center;
	position: absolute;
	bottom:20px;
	left:240px;
	color: #223344;
	background-color : none;
	width:200px;
    margin-left: 2.0em;
	border-radius: 0.6em;
	font-weight: bold;
	font-size: 115%;
}

#console_container{
	color:#e0e0e0;
	left:20px;
	bottom:20px;
	position: absolute;
	width:400px;
	padding: 0px;
	display: none;
}

#console{
	max-width: 350px;
	min-width: 350px;
	height: 250px;
	max-height: 370px;
	overflow-y: auto;
	background-color: #2B4970;
	border:none;
	margin: 0px;
	padding:5px;
	text-align: left;
	color:#e0e0e0;
	resize:none;
}

#element_to_pop_up {
	background-color: #223344;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 15px 5px #999;
    color: #e0e0e0;
    display: none;
    min-width: 450px;
    padding: 25px;
    text-align: center; 
	font-family: Times New Roman;
}

#element_to_pop_up2 {
	background-color: #223344;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 15px 5px #999;
    color: #e0e0e0;
    display: none;
    min-width: 450px;
    padding: 25px;
    text-align: center;
	font-family: Times New Roman;	
}


#calc{
	display: none;
	position: absolute;
	bottom:20px;
	left:160px;
}

#select_all_button{
	display: none;
	position: absolute;
	bottom:20px;
	right:20px;
}

.dtable { 
color: #333;
font-family: Helvetica, Arial, sans-serif; 
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: solid #ccc 1px;
margin: 0 auto;
}

.dtd, .dth { 
border: 1px solid transparent; 
height: 30px; 
transition: all 0.3s;  
padding: 5px;
}

.dth {
background: #DFDFDF;  
font-weight: bold;
}

.dtd {
background: #FAFAFA;
text-align: center;
}
 
.dtr:nth-child(even) .dtd { background: #F1F1F1; }   

.dtr:nth-child(odd) .dtd { background: #FEFEFE; }  

.dtr .dtd:hover { background: #666; color: #FFF; } 

