#more {
    display: inline-block;
    border-width: 0px;
    text-align: left;
    vertical-align: left;
    
}

#more_panel
{
	background: #223344;
	padding: 10px;
	width: 200px; 
	top: 75px;
	position: absolute;
	border-bottom-right-radius:0.5em;
	z-index: 3;
}
.slide_button_more
{
	background: url(../images/more.png);
	display: block;
	height: 75px;
	text-indent: -9999px;
	width: 25px; 
	position: absolute;
	right: -20px;
	top: 0px;
}
.slide_button_info:hover
{
	/*left:237px;*/
}
 
.zamknij_more
{
	background-position: -25px 0px;
}
 
a:focus { 
	outline:none;
}