#panel
{
	background: #223344;
	padding: 10px;
	width: 200px; 
	top: 0px;
	position: absolute;
	border-bottom-right-radius:0.5em;
	z-index:4; 
}
 

.slide_button
{
	background: url(../images/menu.png);
	display: block;
	height: 75px;
	text-indent: -9999px;
	width: 25px;
 
	position: absolute;
	right: -20px;
	top: 0px;
}

.slide_button:hover
{
	/*left:237px;*/
}

.zamknij
{
	background-position: -25px 0px;
}
 
a:focus { 
outline:none;
}