.table_icon {
	position: relative;
	padding: 0;
	border-spacing: 1px;
}

.td_icon, .td_icon_marked{
	background-color: gray;
	width: 10px;
	height: 10px;
	padding: 0;
	border: solid;
	border-radius: 10px;
	border-color: white;
	border-width: 0px;
}

.td_icon_marked {
	background-color: lime;
}